P {
font-size : 12pt;
font-family: "homemadeapple", verdana, arial, sans-serif;
text-align : center;
line-height : 1.5; /* Espaciado entre líneas */
color : #333333; /* Color del texto */

font-weight : normal;
}
H1 {
font-size : 36pt;
font-family : verdana,arial;
text-decoration : underline;
text-align : center;
background-color : #78288b;
}
TD {
font-size : 10pt;
font-family : verdana,arial;
text-align : center;
background-color : 666666;
}
body {
background-color: #eaf2e3;
color: #333;
font-family: "homemadeapple", verdana, arial, sans-serif;
text-align : center;
margin: 0;
padding: 0;
}
header {
background-color: #ffffff;
color: #fff;
text-align: center;
padding: 10px;
}
section {
padding: 1px; /* espaciado para la sección de 20 pixeles */}
footer {
background-color: #ece7e9; /* Color de fondo del footer */
color: #fff;
padding: 1px 0; }
.footer-content {
    
max-width: 500px; /* Ancho máximo del contenido del footer */
margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
text-align: center; }
.estilo3{
display:flex;
list-style:none;
justify-content: center;
}
.estilo3 img {
width: 60px; /* Ancho de las imágenes dentro de la lista */
height: 29px; /* Alto de las imágenes dentro de la lista */
margin: 10px; /* Espacio entre las imágenes */   
justify-content: center;

}
.estilo2 {
    background-color: #ffd1e4;
}
/* Estilos para el nav y enlaces de ul y li */
nav {
background-color: #78288b;
padding: 10px;
}
nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
justify-content: center; /* Centrar los elementos de la lista horizontalmente */
gap: 10px;
}
nav ul li {
display: inline-block;
margin-right: 20px;
}
nav ul li a {
color: #e9e2e8;
text-decoration: none;
padding: 8px 16px;
display:inline-block; /* Para que el padding funcione correctamente */
white-space: nowrap; /* Evitar que el texto se divida en varias líneas */

border-radius: 5px;
}
nav ul li a:hover {
background-color: #30166b;
}
img {
width: 25%; /* Asegurar que las imágenes ocupen todo el ancho del contenedor */
height: 25%; /* Asegurar que las imágenes ocupen todo el alto del contenedor */
display: inline-block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
margin: 0 auto; /* Centrar las imágenes horizontalmente */
max-width: 100%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
border: 1px solid #ffffff; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */
}